[Desktop Entry]
Version=1.0
Type=Application
Name={{ product_name }}
Icon={{ product_home }}/bin/{{ product_image }}
Exec="{{ product_home }}/bin/{{ product_start }}" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-{{ product }}

